---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adaptive map</title>
    <style>
        /* set width and height */
        .map-container {
            width: 100%; /* 宽度占满父容器的100% */
            height:30vh; /* 高度占视口高度的50% */
        }
    </style>
</head>
<body>
    <!-- 父容器 -->
    <div class="map-container">
        <!-- 嵌入的地图脚本 -->
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=97c4LTPD0izJ4bVmWzQIzqHft8m2g9FnUotoQNgSO0o"></script>
    </div>
</body>
</html>
